This notebook summarizes the number of KEGG orthologs that were only observed in the either pieces that were increased in abundance or in pieces that were decreased in abundance.

In [1]:
setwd("..")

In [3]:
library(dplyr)
library(readr)
library(purrr)

In [11]:
Sys.glob("outputs/sgc_pangenome_catlases_corncob_annotation_analysis/*distinct_kos_df.tsv") %>%
  map_dfr(read_tsv, show_col_types = F) %>%
  select(-dom_id) %>%
  distinct() %>%
  group_by(abundance, species) %>%
  tally()

   abundance species                             n
1  decreased s__Enterocloster-bolteae              20
2  decreased s__Enterocloster-clostridioformis     12
3  decreased s__Enterocloster-clostridioformis_A   12
4  decreased s__Enterocloster-sp005845215          19
5  decreased s__Ruminococcus_B-gnavus              45
6  increased s__Enterocloster-bolteae            1348
7  increased s__Enterocloster-clostridioformis   1286
8  increased s__Enterocloster-clostridioformis_A 1157
9  increased s__Enterocloster-sp005845215        1231
10 increased s__Ruminococcus_B-gnavus             945

In [12]:
Sys.glob("outputs/sgc_pangenome_catlases_corncob_annotation_analysis/*distinct_kos_df.tsv") %>%
  map_dfr(read_tsv, show_col_types = F) %>%
  select(-dom_id) %>%
  distinct() %>%
  group_by(abundance, species) %>%
  tally() %>%
  summarize(mean_n = mean(n),
            sd_n = sd(n))

  abundance mean_n sd_n
1 decreased   21.6  13.61249
2 increased 1193.4 155.65764